/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}
//
// Solarized colors
$base03:    #FFF;
$base02:    $base03;
$base01:    $base03;
$base00:    #eee;
$base0:     #eee;
$base1:     #eee;
$base2:     #eee8d5;
$base3:     #0096FF;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

.slides > section:first-child img.no-border {
  background-color: $base03;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.no-border {
    border: 0 !important;
    box-shadow: 0 0 0 transparent !important;
}
.reveal section img {
    border: 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}


.reveal li > code {
    margin: 20px auto;
    font-size: 0.55em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    background: #3f3f3f;
    color: #dcdcdc;
}
